* {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 100%;
  margin: auto;
}
.navbar {
  background-color: white;
}
img.navbar-brand {
    height: 59.2px;
    /*opacity: .90;*/
    padding: 0%;
  }
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar img {
  margin-top: 0%;
}
header {
  text-align: left;
  padding-left: 25px;
  transition: 1s;
  padding: 15px 0 17px 25px;
}

#light h3{
  color: #fff;
}

#light a {
  color: #fff;
  border: 2px solid #fff;
}

#light a:active {
  color: #fff;
  border: 2px solid #fff;
}

#light a:hover {
  color: #fff;
  border: 2px solid #fff;
}

#light a:visited {
  color: #fff;
  border: 2px solid #fff;
}

header h1 {
  font-size: 24px;
}

header a {
  padding-left: 10px;
}

header img {
  height: 20px;
  margin-top: 22px;
}

header h2 {
  font-size: 24px;
  color: #fff;
}

.lesson {
  height: 300px;
  text-align: center;
  padding-top: 50px;
  transition: 1s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lesson:hover {
  padding-top: 10px;
  opacity: .75;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
}

.lesson:hover background-image {
  opacity: .5;
}

.lesson h3 {
  color: white;
  padding: 10px;
  font-size: 40px;
  margin-bottom: 10px;
  transition: 1s;
}

.lesson:hover h3 {
  font-size: 60px;
}

.lesson a {
  color: white;
  border: 2px solid white;
  text-decoration: none;
  transition: .75s;
  padding: 5px;
  font-weight: bold;
}

.lesson a:hover {
  font-size: 22px;
  text-decoration: none;
  color: white;
}

.one {
  background-image: url("../img/1.jpg");
}

.two {
  background-image: url("../img/2.jpg");}

.three {
  background-image: url("../img/3.jpg");}

.four {
  background-image: url("../img/4.jpg");}

.five {
  background-image: url("../img/5.jpg");}

.six {
  background-image: url("../img/6.jpg");}

.seven {
  background-image: url("../img/7.jpg");}

.eight {
  background-image: url("../img/8.jpg");}

.nine {
  background-image: url("../img/9.jpg");}

.ten {
  background-image: url("../img/10.jpg");}

.eleven {
  background-image: url("../img/11.jpg");}

.twelve {
  background-image: url("../img/12.jpg");}

.thirteen {
  background-image: url("../img/13.jpg");}

.fourteen {
  background-image: url("../img/14.jpg");}

.fifteen {
  background-image: url("../img/15.jpg");}

.sixteen {
  background-image: url("../img/16.jpg");}

.seventeen {
  background-image: url("../img/17.jpg");}

.eighteen {
  background-image: url("../img/18.jpg");}

.nineteen {
  background-image: url("../img/19.jpg");}

.twenty {
  background-image: url("../img/20.jpg");}

.filler {
  background-image: url("../img/21.jpg");}

@media (max-width: 991px) {
    .filler { display: none;}
 }

 @media (max-width: 994px) {
     .nav { display: none;}
  }

  @media (max-width: 991px) {
      header { text-align: center;}
   }
