                                                                /*//// global //// */
                                                            
                                                            html {
                                                                font-size: 10px;
                                                            }
                                                            /*//// navigation bar ////*/
                                                            
                                                            .navbar {
                                                                border: 1px solid white;
                                                                background: rgba(255, 255, 255, 0.8);
                                                            }
                                                            
                                                            .l_border {
                                                                border-left: 1px solid white;
                                                            }
                                                            
                                                            .nav a {
                                                                color: #949494;
                                                            }
                                                            
                                                            .navbar-brand {
                                                                font-size: 2em;
                                                                font-weight: bold;
                                                                color: black;
                                                            }
                                                            /*//// end nav ////*/
                                                            
                                                            .parallax-hero {
                                                                /*//// hero vineyard ////   */
                                                                background-image: url("../img/wine-bg.jpg");
                                                                min-height: 800px;
                                                                background-attachment: fixed;
                                                                background-position: center;
                                                                background-repeat: no-repeat;
                                                                background-size: cover;
                                                                background-blend-mode: multiply;
                                                                background-color: #aaa7a7e;
                                                            }
                                                            
                                                            .logo {
                                                                height: 450px;
                                                                opacity: .80;
                                                            }
                                                            
                                                            .hero-box {
                                                                height: 700px;
                                                                width: 100%;
                                                                margin-top: 2%;
                                                                margin-left: 2%;
                                                                 color: white;
                                                                font-family: 'Georgia';
                                                                opacity: .80;
                                                            }
                                                            .hero-box i {
                                                                color:white;
                                                                padding: 1%;

                                                            }
                                                            
                                                         
                                                            /*//// end hero ////*/
                                                            
                                                            .bar-size {
                                                                background-image: url("../img/wine16.jpg");
                                                                background-size: cover;
                                                                background-position: center;
                                                                height: 600px;
                                                            }
                                                            
                                                            .about {
                                                                height: 400px;
                                                                width: 60%;
                                                                margin-top: 18%;
                                                                margin-left: 18%;
                                                            }
                                                            
                                                            .about h5 {
                                                                font-style: italic;
                                                                font-size: 1em;
                                                                font-weight: 400;
                                                                text-transform: uppercase;
                                                                color: #949494;
                                                                padding-bottom: 5%;
                                                            }
                                                            
                                                            .about h4 {
                                                                font-family: 'Georgia';
                                                                font-size: 1.6em;
                                                                line-height: 1.6em;
                                                                padding-bottom: 5%;
                                                            }
                                                            
                                                            .about p {
                                                                line-height: 2.8em;
                                                                color: #6C6C6C;
                                                                padding-bottom: 5%;
                                                            }
                                                            
                                                            .sig {
                                                                max-height: 80px;
                                                            }
                                                            /*//// end about ////*/
                                                            
                                                            .parallax-2 {
                                                                /*//// picking grapes ////*/
                                                                background-image: url("../img/wine13.jpg");
                                                                min-height: 800px;
                                                                background-attachment: fixed;
                                                                background-position: center;
                                                                background-repeat: no-repeat;
                                                                background-size: cover;
                                                                background-blend-mode: multiply;
                                                                background-color: #aaa7a7e;
                                                            }
                                                            
                                                            .quote-text {
                                                                color: white;
                                                                font-family: 'Georgia';
                                                                margin-top: 23%;
                                                                margin-left: 18%;
                                                            }
                                                            
                                                            .quote-text h3 {
                                                                font-size: 2.2em;
                                                            }
                                                            
                                                            .quote-text p {
                                                                font-size: 1.5em;
                                                            }
                                                            /*//// end quote ////*/
                                                            
                                                            .craft {
                                                                margin-left: 13%;
                                                            }
                                                            
                                                            .shop-space {
                                                                width: 300px;
                                                            }
                                                            
                                                            .bottle {
                                                                height: 550px;
                                                                padding-left: 10%;
                                                            }
                                                            
                                                            .shop-text {
                                                                height: 50px;
                                                                font-family: 'Georgia';
                                                                font-style: italic;
                                                            }
                                                            
                                                            .shop-text h4 {
                                                                font-size: 1.8em;
                                                                padding-bottom: 3%;
                                                            }
                                                            
                                                            .shop-text h5 {
                                                                font-size: 1.1em;
                                                                line-height: 1.6em;
                                                            }
                                                            
                                                            .click {
                                                                margin-top: 25%;
                                                                margin-bottom: 30%;
                                                                height: 50px;
                                                            }
                                                            
                                                            .visit-shop {
                                                                background-color: #91A05C;
                                                                color: white;
                                                                font-size: 16px;
                                                                padding: 10px 30px;
                                                                text-align: center;
                                                                text-decoration: none;
                                                                display: inline-block;
                                                                margin-top: 5%;
                                                                margin-bottom: 8%;
                                                            }
                                                            /*//// end shop ////*/
                                                            
                                                            .parallax-3 {
                                                                /*//// awards ////*/
                                                                background-image: url("../img/wine12.jpg");
                                                                min-height: 800px;
                                                                background-attachment: fixed;
                                                                background-position: center;
                                                                background-repeat: no-repeat;
                                                                background-size: cover;
                                                                background-blend-mode: multiply;
                                                                background-color: #aaa7a7e;
                                                            }
                                                            
                                                            .award-title h3 {
                                                                color: white;
                                                                padding-top: 8%;
                                                                padding-bottom: 3%;
                                                                font-family: 'Georgia';
                                                                font-style: italic;
                                                                font-size: 2.5em;
                                                            }
                                                            
                                                            .astyle {
                                                                padding-top: 10%;
                                                                padding-bottom: 3%;
                                                                font-family: 'Georgia';
                                                                font-style: italic;
                                                                font-size: 1.2em;
                                                            }
                                                            
                                                            .award-box {
                                                                color: white;
                                                                margin-left: 16%;
                                                            }
                                                            
                                                            .award {
                                                                width: 250px;
                                                                /*  width: 50%;*/
                                                            }
                                                            
                                                            .seal {
                                                                width: 220px;
                                                            }
                                                            /*//// end awards ////*/
                                                            
                                                            .pouring {
                                                                background-image: url("../img/wine15.jpg");
                                                                background-size: cover;
                                                                background-position: center;
                                                                height: 600px;
                                                            }
                                                            
                                                            .contact-text {
                                                                padding-top: 9%;
                                                                padding-left: 9%;
                                                                padding-bottom: 3%;
                                                                font-family: 'Georgia';
                                                            }
                                                            
                                                            .con-box h4 {
                                                                font-style: italic;
                                                                padding-bottom: 3%;
                                                                font-size: 1.8em;
                                                            }
                                                            
                                                            .con-box h5 {
                                                                font-style: italic;
                                                                width: 71%;
                                                                line-height: 1.9em;
                                                                font-size: 1.1em;
                                                            }
                                                            
                                                            .con-box hr {
                                                                width: 85%;
                                                                border-width: 3px;
                                                                color: black;
                                                                margin-left: 0%;
                                                            }
                                                            
                                                            .con-box p {
                                                                font-style: italic;
                                                                line-height: 2em;
                                                                font-size: 1.2em;
                                                            }
                                                            
                                                            .con-box ul {
                                                                font-family: 'arial';
                                                                font-style: none;
                                                                list-style: none;
                                                                padding-left: 0%;
                                                            }
                                                            /*//// end contact ////*/
                                                            
                                                            .end {
                                                                font-family: 'Georgia';
                                                                background-color: #292929;
                                                                color: white;
                                                            }
                                                            
                                                            .end h3 {
                                                                font-style: italic;
                                                            }
                                                            
                                                            .end p {}
                                                            /*//// end footer ////*/
                                                            /*////// media qurry ////*/
                                                            
                                                            @media (max-width: 768px) {
                                                                /*//// about section ////*/
                                                                .about {
                                                                    height: 500px;
                                                                    margin-top: 10%;
                                                                    margin-left: 21%;
                                                                }
                                                                .about h5 {
                                                                    padding-bottom: 2%;
                                                                }
                                                                .about h4 {
                                                                    line-height: 1.6em;
                                                                    padding-bottom: 2%;
                                                                }
                                                                .about p {
                                                                    line-height: 1.6em;
                                                                }
                                                            }
                                                            
                                                            @media (max-width: 768px) {
                                                                /*//// hero logo ////*/
                                                                .logo {
                                                                    height: 300px;
                                                                }
                                                                .hero-box {
                                                                    margin-top: 40%;
                                                                    padding-right: 10%;
                                                                }
                                                            }
                                                            
                                                            @media (max-width: 768px) {
                                                                /*//// quote ////*/
                                                                .quote-text {
                                                                    color: white;
                                                                    font-family: 'Georgia';
                                                                    margin-top: 10%;
                                                                    margin-left: 0%;
                                                                }
