
/*/////large boxes////*/
.one {
    background-clip: content-box;
    min-height: 545px;
    background-color: yellow;
    border: 10px solid white;
    padding: 0%;
    
}
.ten {
    background-clip: content-box;
    min-height: 545px;
    background-color: gray;
     border: 10px solid white;
   padding: 0%;
    
}
/*////small imges////*/
.img-books {
    background-image: url("../img/work6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 278px;
}
.five {
    background-image: url("../img/work4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 278px;

}
.six {
    background-image: url("../img/work7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 278px;
}
/*/////small gray boxes////*/
.sm-gray {
    min-height: 278px;
    background-color: gray;
}
/*////all small boxes////*/
.sm-box {
    border: 10px solid white;
}
